/* Estilização do corpo da página */
body {

    margin: 0;
    padding: 0;
    font-weight: 400; 
    font-family: "Roboto", sans-serif;
    background-color:#F5F5F5; 
  }
  
  /* Estilização do cabeçalho */
  header {
    background-color: #6499E9; 
    color: #F5F5F5; 
    padding: 10px; 
  }
  
  header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
  }

/* Estilização do conteúdo principal */

.main {
    .main {
      width: 100%;
      max-width: 600px;
      margin: 0 auto; 
      padding: 20px;
      background-color:#00000056;
      box-shadow: 0 0 10,px rgba(0, 0, 0, 0.1);
    }
  }

.cadastrar {
    text-align: center;
}

.cad-um {
    font-size: 24px;
    margin-bottom: 20px;
}

.caixas {
    text-align: left;
}

.caixa {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}


label {
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #A6F6FF;
    color: #324C72; 
    padding: 12px 65px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}

button:hover {
    background-color: #444;
}

.rodape {
    background-color: #6499E9;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
  }
