* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: whitesmoke;
}

header {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 90% 5% 5%;
    padding: 1rem 0;
}

header img {
    width: 4rem;
}

header div {
    display: flex;
    align-items: center;
}

#container-logo {
    padding-left: 1rem;
}

#container-logo img {
    width: 6rem;
}

#config-btn {
    display: flex;
    justify-content: center;

}

#config-btn img {
    width: 2rem;
    height: 2rem;
}

#user-profile {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#user-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.bg {
    margin: 0 auto;
    padding-left: 3rem;
}

main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
}

#barra-pesquisa {
    background-color: white;
    width: 70%;
    height: 40px;
    position: absolute;
    top: 3rem;
    left: 14rem;
    border: 2px #324C72 solid;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#barra-pesquisa input {
    width: 90%;
    height: 30px;
    text-align: center;
    border-style: none;
}

#barra-pesquisa input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


.user-post {
    width: 80%;
    padding: 1rem;
    color: #324C72;
    background-color: #BEFFF7;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.user-post p {
    padding: 0.6rem;
}

.conteiner-filme {

    display: flex;
    align-items: start;
    margin-top: 1rem;
}

.detalhes-filmes h3 {
    font-weight: bold;
    color: #324C72;
    padding: 1rem 0 1rem 1rem;
}

.detalhes-filmes p {
    padding: 0 0 1rem 1rem;
    color: #324C72;
}

.tags span {
    background-color: #9EDDFF;
    margin: 1rem 0 1rem 1rem;
    padding: 0.4rem;
}

.user-post img {
    width: 10rem;
}

.container-comentaraio {
    background-color: white;
    border: 1px #6499E9 solid;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 0.3rem;
}

.container-comentaraio textarea {
    background-color: white;
    width: 90%;
    border-style: none;
    resize: none;
    text-align: center;
    display: flex;
}

.container-comentaraio textarea:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.container-comentaraio button {
    border-style: none;
    border-radius: 0.5rem;
    background-color: #9EDDFF;
    width: 6rem;
    height: 3rem;

}

.container-comentaraio button:hover {
    background-color: #A6F6FF;
}

.like-btn {
    border-style: none;
    border-radius: 0.5rem;
    background-color: #9EDDFF;
    width: 4rem;
    height: 2rem;
}

.like-btn:hover {
    background-color: #A6F6FF;
}


#friend-list {
    margin-right: 1rem;
    background-color: #A6F6FF;
    width: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    text-align: center;
}

.lista-de-amigos img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.lista-de-amigos {
    padding-left: 0;
    display: flexbox;
}

.lista-de-amigos li {
    border-top: 1px #6499E9 solid;
    list-style: none;
    display: flex;
    align-items: center;    
}

.lista-de-amigos li span {
    padding: 1rem;
}

.escondido {
    display: none;
}



.wraper-btn-aternar {
    background-color: #9EDDFF;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    margin: 0;
}