.geral {
  
    background-color: #f5f5f5 ;
    

}


.especificacao-produto {
border: 1px red solid; 
display:flex;
   
}

.image {
    
    padding: 10px;
}

.geral {
    width:60%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: white; /* Cor de fundo de exemplo */
}

.geral {
    text-align: center;
    background-color: #A9A9A9; /* Cor de fundo para o conteúdo central */
    border-radius: 10px; /* Borda arredondada para o conteúdo central */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para o conteúdo central */
}

.comentarios {
width: 100%;
border: 1px red solid;
display: flexbox;
justify-content: start;
}

#comentario_usuario {
width: 75%;
}  

#publicar {
display: 
}